{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5" style="width: 80%; margin: 0 auto;">
    <h2 class="text-center">{{ receiver.username }}</h2>
    <div id="chat-messages" class="chat-messages border rounded p-3 mb-3" style="height: 40vh; overflow-y: auto;">
        {% for message in messages %}
        <div class="d-flex 
            {% if message.sender == request.user %}
                justify-content-end
            {% else %}
                justify-content-start
            {% endif %} 
            mb-2">
            <div class="message-container p-2 rounded 
            {% if message.sender == request.user %}
                bg-primary text-white
            {% else %}
                bg-light
            {% endif %}" 
                style="max-width: 60%; word-wrap: break-word; word-break: break-word;" 
                data-message-id="{{ message.id }}" onclick="toggleDeleteButton(this)">
                <p class="mb-1 fw-light">{{ message.sender.username }}</p>
                <p class="mb-1">{{ message.content }}</p>
                <small class="text-muted">{{ message.timestamp|time:"H:i" }}</small>
                {% if message.sender == request.user %}
                <button class="delete-btn btn btn-light btn-sm" onclick="deleteMessage(event, this)">Удалить</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <form method="post" class="d-flex mt-3">
        {% csrf_token %}
        <div class="me-2 flex-grow-1">
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const chatMessagesContainer = document.getElementById('chat-messages');
    chatMessagesContainer.scrollTop = chatMessagesContainer.scrollHeight;
});

function toggleDeleteButton(element) {
    const deleteButton = element.querySelector('.delete-btn');
    if (deleteButton) {
        if (deleteButton.style.display === 'inline-block') {
            deleteButton.style.display = 'none';
        } else {
            deleteButton.style.display = 'inline-block';
        }
    }
}

function deleteMessage(event, button) {
    event.stopPropagation();
    const messageId = button.parentElement.dataset.messageId;
    if (confirm('Вы уверены, что хотите удалить это сообщение?')) {
        fetch(`/delete_message/${messageId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                button.parentElement.parentElement.remove();
            } else {
                alert('Ошибка при удалении сообщения.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
}
</script>

<style>
.delete-btn {
    display: none;
}
</style>

{% endblock %}
